services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend

  frontend:
    build:
      context: ./frontend
    expose:
      - "3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    env_file:
      - ./.env
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost/api
      - NEXT_PUBLIC_WS_HOST=localhost
      - WATCHPACK_POLLING=true
      - NODE_ENV=development

  backend:
    build:
      context: ./backend
    expose:
      - "8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - redis
    env_file:
      - ./.env
    environment:
      - REDIS_HOST=redis
      - DJANGO_SETTINGS_MODULE=backend.settings

  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    env_file:
      - ./.env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  mysql_data:
